body{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background: aliceblue;
}

.btn{
    background-color: green;
    padding: 10px 30px;
    border-radius: 6px;

}

.btn:disabled{
}

.anime-img{
}

.anime-name{
    padding: 10px;
    border-radius: 6px;
}

.anime-container{
    display: none;
}
