body{
    margin: 0;
    background: linear-gradient(to right, lightblue, yellow);
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background: aliceblue;
    padding: 10px;
    width: 450px;
    margin: 5px;
}

.btn{
    background-color: green;
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 6px;
    cursor: pointer;

}

.btn:disabled{
}

.anime-img{
    height: 300px;
    border-radius: 50%;
}

.anime-name{
    color: aliceblue;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
}

.anime-container{
    display: none;
}
