.btn {
    background: #040042;
    color: #f4f4f4;
    text-transform: uppercase;
    font-family: sans-serif ;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 #cbc7ff, 3px 3px 0 0 #040042;
    cursor: pointer;

    transition: ease-in-out ;
}

.btn:hover {
    transform: translate();
    box-shadow: 3px 3px 0 0 #cbc7ff, 5px 5px 0 0 #040042;
}
