body{
    margin: 0;
    display: flex;

    background-repeat: no-repeat;

    overflow: hidden;
}

.clock{
    display: flex;

}

h1{
    font-size: 40px;
    color: #ff3838;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
   background-color: #fff;
   font-size: 50px;
   display: flex;

   color: #1a1a1a;
   align-items: center;
   opacity: .8;
   width: 100px;
   height: 80px;
   justify-content: center;

   border: solid 2px #f4f4f4;

   
}

.clock .text{
    font-size: 25px;
    margin-top: 15px;
    background: #d1d1d1;
    height: 30px;
}

.clock .ampm{
    position: absolute;

    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;

    margin-top: 10px;
    height: 30px;
    text-transform: uppercase;
    background: #ee0524;

    border: solid 2px #ee0524;
    border-radius: 5%;
    box-shadow:  none;
}


/* body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    justify-content:center ;
    background: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
}

h2{
    height: 5vh;
    visibility: hidden;
    text-transform: uppercase;
    color: #ee0524;
    letter-spacing: 4px;
    font-size: 45px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    display: flex;
    width: 100px;
    height: 80px;
    background: #fff;
    opacity: .8;
    color: #1a1a1a;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: .4px .4px .5px #0f1721;

    letter-spacing: 2px;
    background: #d1d1d1;
}

.clock #ampm {
    position: absolute;
    bottom: 0px;
    width: 80px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;

    margin-top: 10px;
    height: 30px;
    text-transform: uppercase;
    background: #ee0524;

    border: solid 2px #ee0524;
    border-radius: 5%;
    box-shadow:  none;
} */
