body{
    margin: 0;
    align-items: center;
}

.container{
    background: aliceblue;
    margin: 5px;
}

.btn{
    color: aliceblue;
    font-size: 16px;
    border-radius: 6px;
}

.btn:disabled{
    cursor: not-allowed;
}

.anime-img{
    height: 300px;
    border-radius: 50%;
}

.anime-name{
    background-color: green;
    font-weight: 600;
}

.anime-container{
    display: none;
}
