body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8a8ac2;
}

.btn{
    font-size: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 5px;
    border: 2px solid #001675;
    border-radius: 20px;
    color: #8a8ac2;
    background-color: #5ad860;
    box-shadow: 1px 1px rgb(255, 255, 255), 4px 4px rgb(0, 0, 43);
    text-shadow: 1px 1px rgb(0, 36, 90);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn span{
    position: relative;
    z-index: 1;
}

.btn::before{
    content:"";
    position: absolute;
    background-color: #fffc34;
    left: var(--xPos);
    top: var(--yPos);
    width: 0px;
    height: 0px;
 
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: ease-in-out, width .5s, height .5s;
    z-index: 1;
}

.btn:active{
    transform: translate(4px, 5px);
}

.btn:hover::before{
    width: 450px;
    height: 450px;
}
